{% extends "index.html"%}
{% from 'bootstrap/form.html ' import render_field %}
{% from 'bootstrap/form.html ' import render_form %}

{% block title%}欢迎进入匿名聊天室{% endblock %}


{% block content %}
<style>
    body{margin-top:50px;
    }
    .room-info{
        position:fixed;
        top:44px;
        left:0px;
        width:250px;
    }

    #room-status p{
        line-height:10px;
    }
    #message-textarea:empty:before{
        content:attr(data-placeholder);
        color:grey;
    }
    #message-textarea:focus:before{
        content:none;
    }




</style>

<div class="modal fade Share-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>分享房间&nbsp;<strong style="font-size:15px;color:red;">输入下列url即可加入</strong></h3>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control"
                           value="{{url_for('room_bp.anonymous_room',room_id = r.id,_external = True)}}" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:246.5px;height:100%;background-color:#F0F0F0;position:fixed;top:50px;right:0px;">
    <p class="text-warning text-center mt-2" style="font-size:20px;">该房间为匿名聊天室</p>
    <p class="text-danger">1.离开房间后除了聊天记录以外其他所有信息都不会被记录</p>
    <p class="text-danger">2.为保证匿名性，用户一旦离开该页面即视为离开房间</p>
    <div class="text-center">
        <p>您的虚拟信息</p>
        <img src="{{url_for('static',filename='user_faces/'+anony_face)}}" alt="#" width="100px">
        <p class="mt-2">{{anony_name}}</p>
    </div>
</div>

<div class="room-info" style="background-color:#D0D0D0;border-radius:5px;z-index:1;">
    <img src="{% if r.face == 'default'%}{{avatars.default(size='l')}} {% else%} {{url_for('static',filename='room_faces/'+r.face)}}{% endif %}"
         alt="#" width="250px" height="250px">
    <div class="info" style="float:left;">
        <p class="mt-1"><strong>房间名:</strong><span style="font-size:15px;color:red;">{{r.name}}</span></p>
        <p><strong>房间号:</strong><span style="font-size:15px;color:red;">{{r.id}}</span></p>
        <p><strong>房主:</strong><span style="color:red;">&nbsp;{{author.username}}</span></p>
        <p><strong>简介:</strong><span style="color:red;">{{r.info}}</span></p>
        {% if r.create_user_id == current_user.id%}
        <strong>在线人数:</strong><span id="online-count" style="color:red;">0</span>
        {% endif %}
    </div>
    <div style="display:inline-block;" class="mt-2">
        <button class="btn btn-secondary float-left ml-4" data-toggle="modal" data-target=".Share-modal">分享</button>
        <button class="btn btn-danger ml-5" onclick="leave_room('quit');" id="quit">退出房间</button>
        <button  onclick="leave_room('records')" class="btn btn-sm btn-success mt-2 ml-4 mb-2">查找聊天记录</button>
    </div>
</div>
<div style="width:250px;height:130px;position:fixed;top:600px;border:1px solid #D0D0D0;background-color:#F0F0F0;border-radius:3px;overflow:auto;z-index:1;"
     id="room-status" class="ml-3">
</div>
{% for message in messages%}
<div class="col-2"></div>
  <div class="col-8" style="margin-bottom:70px;">
    <div id="avatars" class="float-left"><img src="{% if message.face == 'default'%}{{avatars.default(size='s')}}{% else %}{{url_for('static',filename='user_faces/'+message.face)}}{% endif %}" alt="#" height="48px" width="48px" style="border-radius: 5px;"></div>
    <div id="msg-box" class="float-left ml-2 mb-2" style="height:70px;max-width: 400px;background-color:  #D0D0D0;border-radius:3px ">
      <div id="username" class="ml-3 mr-3 mt-1"><strong>{{message.author}}</strong><small class="text-secondary ml-3" style="font-size:8px;">&nbsp;{{moment(message.timestamp).format('LLL')}}</small></div>
      <div id="content" class="ml-3 mr-3"><p class="mt-2" style="font-size:20px;">{{message.body|safe}}</p></div>
    </div>
  </div>
  <div class="col-2"></div>
{% endfor %}
<div style="position:fixed;left:250px;" class="fixed-bottom">
    <button class="btn btn-primary float-left" id="emoji">表情</button>
    <div contenteditable="true" id="message-textarea" data-placeholder="在这输入消息" class="float-left ml-1"
         style="width:950px;min-height:35px;background-color:#D0D0D0;border:1px solid;resize:none;border:1px solid #D0D0D0;border-radius:3px;"></div>
    <button class="btn btn-secondary mb-3 ml-1" id="send">发送</button>
</div>
{% endblock %}
{% block script%}
<script>
var socket;
$(function(){
    scrollTo(0,document.body.scrollHeight);
    $('#message-textarea').css('width','950px');
    {% if request.args.get("edit")%}
    alert("保存成功!");
    {% elif request.args.get("create")%}
    alert("创建成功!");
    {% else %}
    alert("您已进入房间!");
    {% endif %}

    $("#message-textarea").emoji({
      button:"#emoji",
      showTab: false,
      animation: 'fade',
      icons: [{
        name: "贴吧表情",
        path: "/static/img/tieba/",
        maxNum: 50,
        file: ".png",
      }]
    });

    socket = io("/anonymous");
    var room_id = {{r.id}};
    socket.on('connect',function(){
        socket.emit("join",{{r.id}});
    });
    $('#send').click(function(){
      var $textarea = $('#message-textarea');
      var message = $textarea.html();
      var msg = [message,"{{r.id}}"];
      socket.emit('new message',msg);
      $textarea.html('');

  });
  $(document).keypress(function(e) {

　　if (e.which == 13)
    {
        e.preventDefault();
        $('#send').click();
    }
    });
    //滑到顶部加载更多记录
    var page=1;
    $(window).on('scroll',function(){
	"use strict";
	 var scrolled = $(window).scrollTop();
	 if(scrolled <= 0)
	 {
	    page = page+1;
	    console.log(page);
	    	$.ajax({
	        url:"{{url_for('room_bp.get_more_anony',room_id = r.id)}}",
	        type:"get",
	        success:function(data){
	            console.log(data["total_pages"]);
	            if(data["total_pages"] < page){
	                alert("没有更多记录!");
	            }
	            else{
	                console.log(data["html"]);
	                $('#room-status').after(data["html"]).fadeIn(1000);
	                var moment = $('.flask-moment');
	                $.each(moment,function(index,value){
	                    var v = $(value);
	                    var t = v.text().replace('T',' ');
                        t = t.replace('Z',' ');
                        console.log(t);
                        v.text(t);
                        v.css("display","inline");
	                })
	            }

	        }
	    });
	 }
    });



    socket.on('new message',function(data){
    if (data.error == 1){
        alert(data.message);
        return;
      }
      $('.row').append(data.html);
      var moment = $('.flask-moment');
      $.each(moment,function(index,value){
      var v = $(value);
      if (v.css("display") != "inline"){
      var t = v.text().replace('T',' ');
      t = t.replace('Z',' ');
      v.text(t);
      v.css("display","inline");
      }
      })
      scrollTo(0,document.body.scrollHeight);
    });
    setInterval(function(){
        if($('.emoji_container').css("display") != "none")
        {
            $('.emoji_container').css({"position":"fixed","left":"250px","top":"370px","z-index":"1"});

        }
    },100);
    //进入/退出房间监听函数
    socket.on("status",function(data){
        $('#online-count').html(data.count);
        if (data.type == "join" ){
        $("#room-status").append("<p class=\"text-primary\">"+data.html+"</p>");
        }
        else{
        $("#room-status").append("<p class=\"text-secondary\">"+data.html+"</p>");
        }
    });
    $('.nav-link').click(function(){
        alert("请先退出聊天室!");
        return false;
    })
})
function leave_room(argument){
        socket.emit("leave",{{r.id}},function(){
            socket.disconnect();
            if(argument == "quit"){
            window.location.href = "{{url_for('main.index',quit = 1)}}";
            }
            else{
            window.location.href = "{{url_for('room_bp.chat_records',room_id = r.id,anony = 1)}}";
            }
    });
    }


</script>
{% endblock %}