{% extends "./index.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html ' import render_form %}
{% block title %}
查找聊天记录
{% endblock %}

{% block content%}
<style>
    body{margin-top:50px;}


</style>
<div class="col-1"></div>
<div class="col-10">
    <div class="page-header mt-2">
        <div class="float-left" style="width:300px;height:148px;">
            <h1 class="mt-4">共{{pagination.total}}条聊天记录</h1>
            {% if key != None%}
            <a href="{{url_for('room_bp.chat_records',room_id = r.id,anony=anony)}}" class="text-primary" style="text-decoration:none;">&larr;返回</a>
            {% elif anony == 1%}
            <a href="{{url_for('room_bp.anonymous_room',room_id = r.id,permission = 1)}}" class="btn btn-sm btn-secondary">返回聊天</a>
            {% else %}
            <a href="{{url_for('room_bp.chat_page',room_id = r.id)}}" class="btn btn-sm btn-secondary">返回聊天</a>
            {% endif %}
        </div>
        <div class="text-center">{{render_form(form,button_map={'submit':'primary'})}}</div>
    </div>
    {% if messages %}
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th>发送者</th>
            <th>内容</th>
            <th>发送时间</th>
        </tr>
        </thead>
        {% for message in messages%}
        <tr class="text-center">
            <td>
                {% if anony == 1%}
                <p>{{message.author}}</p>
                {% else %}
                <a href="{{url_for('user_bp.user_page',user_id = message.author.id)}}" class="text-primary" target="_blank" style="text-decoration:none;">{{message.author.username}}</a>
                {% endif %}
            </td>
            <td>
                <p>{{message.body|safe}}</p>
            </td>
            <td><p>{{moment(message.timestamp).format('LLL')}}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div>
    <h1 class="text-primary mt-5 float-left">未找到相关记录!</h1>
    </div>
    {% endif %}
    {% if pagination.total > 10 %}
    <div>
        {{render_pagination(pagination,align = "center",prev = "<",next = ">")}}
    </div>
    {% endif %}
</div>
<div class="col-1"></div>
{% endblock %}
{% block script%}
<script>
    $(function(){
        $('#key').css("width","400px");
        $('#key').attr("placeholder","在这输入您想查询的内容");
        $('#submit').css("float","left");
        {% if key != None%}
        $('table > tbody > tr > td:nth-child(2) > p').css('color','red');
        {% endif %}
    })
</script>
{% endblock %}