{% extends "index.html"%}
{% from 'bootstrap/form.html ' import render_form %}

{% block title%}首页{% endblock %}


{% block content %}
<style>body{margin-top:50px;}</style>
<div class="col-2"></div>
<div class="col-md-8 text-center mt-lg-4">
    <div class="jumbotron mt-5">
        <h1 class="text-secondary">欢迎来到匿名聊天室</h1>
        <p class="float-left text-primary">搜索房间url并加入</p>
        <div class="text-center">
            {{render_form(form,button_map={"submit":"primary"})}}
        </div>
        <div>
            <form action="{{url_for('user_bp.check_room')}}">
                <button class="btn btn-lg btn-success float-right mr-1">查看房间&rarr;</button>
            </form>
        </div>
        <div>
            <form action="{{url_for('user_bp.create_room')}}">
                <button class="btn btn-success btn-lg float-left ml-1">&larr;创建房间</button>
            </form>
        </div>

    </div>
</div>
<div class="col-2"></div>

<div class="col-md-4">

</div>
<div class="col-md-4"></div>
<div class="col-md-4">

</div>

{% endblock %}
{% block script %}
<script>
    $(function(){
        $('#url').attr("placeholder","在这输入url...");
        $('#submit').addClass("btn-lg");
    })


</script>
{% endblock %}