{% extends "./index.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html ' import render_form %}
{% block title %}
我的房间
{% endblock %}

{% block content%}
<style>
    body{margin-top:50px;}

</style>
<div class="col-1"></div>
<div class="col-10">

    <div class="page-header mt-2" style="display:inline-block;">
        <div class="float-left" style="width:300px;height:148px;">
            <h1 class="mt-4">我创建的房间</h1>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{{url_for('user_bp.my_rooms',filter = 'normal')}}"
                   class=" {% if request.args.get('filter','normal') == 'normal'%}active{% endif %} nav-link text-secondary">普通房间</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('user_bp.my_rooms',filter = 'anonymous')}}"
                   class="{% if request.args.get('filter','normal') == 'anonymous'%}active{% endif %} nav-link text-secondary">匿名房间</a>
            </li>
        </ul>
    </div>
    {% if rooms %}
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th>房间号</th>
            <th>房间名</th>
            <th>在线人数</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for room in rooms%}
        <tr class="text-center">
            <td>{{room.id}}</td>
            <td>
                <p>{{room.name|striptags|truncate(10)}}</p>
            </td>
            <td>
                {% if filter == "normal"%}
                {{room.users|length}}
                {% else %}
                {{online_list[loop.index-1]}}
                {% endif %}
            </td>
            <td>
                <form action="{{url_for('room_bp.delete_room',room_id = room.id,next = request.full_path,filter = request.args.get('filter','normal'))}}" method="post"
                      class="">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <button class="btn btn-danger"
                            onclick="return confirm('确定删除该房间吗?')">删除房间
                    </button>
                </form>
                {% if filter == "normal"%}
                <a href="{{url_for('room_bp.edit_room',room_id = room.id,next = request.full_path,anony=0)}}"
                   class="btn btn-primary mt-2">编辑房间信息</a>
                {% else %}
                <a href="{{url_for('room_bp.edit_room',room_id = room.id,next = request.full_path,anony=1)}}"
                   class="btn btn-primary mt-2">编辑房间信息</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div style="display:inline-block;">
        <h1 class="text-primary float-left">未找到房间!</h1>
    </div>
    {% endif %}
    {% if pagination.total > 10 %}
    <div>
        {{render_pagination(pagination,align = "center",prev = "<",next = ">")}}
    </div>
    {% endif %}
</div>
<div class="col-1"></div>
{% endblock %}